.App {
  background-color: #FCDADA;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.lobo {
  padding-top: 95px;
  height: 83px;
  width: 67px;
}

.parrafo {
  align-items: center;
}

.vanne {
  height: 54px;
  width: 289px;
  color: #FF3E48;
  font-family: Brice Black;
  font-size: 44.8px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 54px;
}

.designer {
  height: 52px;
  width: 260px;
  color: #FF3E48;
  font-family: Brice Bold Condensed;
  font-size: 42.4px;
  letter-spacing: 0;
  line-height: 52px;
}

.medellin {
  height: 54px;
  width: 247px;
  color: #FF3E48;
  font-family: Brice Black;
  font-size: 44.8px;
  letter-spacing: 0;
  line-height: 54px;
}

.yo {
  height: 52px;
  width: 260px;
  color: #FF3E48;
  font-family: Brice Regular Condensed;
  font-size: 39.2px;
  letter-spacing: 0;
  line-height: 52px;
}

.design {
  height: 54px;
  width: 289px;
  color: #FF3E48;
  font-family: Brice Black;
  font-size: 39.2px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 54px;
}

.take {
  height: 52px;
  width: 260px;
  color: #FF3E48;
  font-family: Brice Regular Condensed;
  font-size: 39.2px;
  letter-spacing: 0;
  line-height: 52px;
}

.fotos {
  height: 54px;
  width: 289px;
  color: #FF3E48;
  font-family: Brice Black;
  font-size: 39.2px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 54px;
}

.renglon2 {
  margin-left: 40px;
}

.like {
  height: 52px;
  width: 260px;
  color: #FF3E48;
  font-family: Brice Regular Condensed;
  font-size: 39.2px;
  letter-spacing: 0;
  line-height: 52px;
}

.paint {
  height: 52px;
  width: 260px;
  color: #FF3E48;
  font-family: Brice Extra Light SemiCondensed;
  font-size: 39.2px;
  letter-spacing: 0;
  line-height: 52px;
}

.good {
  height: 52px;
  width: 260px;
  color: #FF3E48;
  font-family: Brice Regular Condensed;
  font-size: 39.2px;
  letter-spacing: 0;
  line-height: 52px;
}

.cafe {
  height: 52px;
  width: 260px;
  color: #FF3E48;
  font-family: Brice Extra Light SemiCondensed;
  font-size: 39.2px;
  letter-spacing: 0;
  line-height: 52px;
}

.renglon3 {
  margin-left: 170px;
}

.contenedor {
  grid-area: footer;
  background-color: #FE5351;
  height: 66px;
  width: 100vw;
  border-radius: 7px;
  flex-direction: column;
  text-align: center;
  padding-top: 12px;
}

.plane {
  height: 32px;
  width: 43px;
  margin-right: 10px;
}

.contact {
  height: 29px;
  width: 157px;
  font-family: Brice Black;
  color: #FFFFFF;
  font-size: 29px;
  margin-right: 40px;
}

.resume {
  height: 29px;
  width: 134px;
  font-family: Brice Black;
  color: #FFFFFF;
  font-size: 29px;
  line-height: 32px;
  margin-left: 40px;
}

.block {
  height: 40px;
  width: 40px;
  margin-left: 10px;
}

.parrafo-mobile {
  display: none;
}

@media only screen and (max-width: 750px) {
  .parrafo {
    display: none;
  }
  .parrafo-mobile {
    display: block;
    text-align: center;
    padding-bottom: 30px;
  }
  .App{
    height: 150vh;
  }
  .lobo {
    padding-bottom: 20px;
  }
  .vanne {
    display: block;
  }
  .designer {
    display: block;
    padding-left: 13px;
  }
  .medellin {
    display: block;
    padding-bottom: 0px;
    padding-left: 20px;
  }
  .rayo {
    padding-right: 5px;
  }
  .take {
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .fotos {
    padding-left: 80px;
  }
  .like {
    margin-left: -50px;
  }
  /* Contenedor del final  */
  .contenedor {
    width: 400px;
    height: 200px;
    padding-bottom: 10px;
  }
  .plane {
    display: inline-block;
    padding-left: 30px;
  }
  .contact {
    display: inline-block;
    padding-top: 40px;
    padding-bottom: 45px;
  }
  .block {
    padding-right: 30px;
    padding-bottom: 10px;
  }
}
