.App {
  background-color: #FCDADA;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.lobo {
  padding-top: 95px;
  height: 83px;
  width: 67px;
}

#parrafo {
  margin-top: 60px;
}

/* renglón 1 
===================================*/
#renglon1 {
  margin-left: -35px;
}

#vannelope {
  height: 54px;
  width: 289px;
  color: #FF3E48;
  font-family: Brice Black;
  font-size: 44.8px;
  line-height: 54px;
}

#designer {
  height: 52px;
  width: 260px;
  color: #FF3E48;
  font-family: Brice Bold Condensed;
  font-size: 42.4px;
  line-height: 52px;
}

#medellin {
  height: 54px;
  width: 247px;
  color: #FF3E48;
  font-family: Brice Black;
  font-size: 44.8px;
  line-height: 54px;
  display: inline-block;
}

#med {
  color: #FF3E48;
  text-decoration: none;
}

#med::after {
  content: '';
  width: 0;
  height: 3px;
  background-color: #FF3E48;
  margin: auto;
  display: block;
}

#med:hover::after {
  width: 100%;
  transition: width .2s linear;
}

/* renglón 2 
======================================*/
#renglon2 {
  margin-right: -40px;
  display: block;
}

.pc {
  display: inline-block;
  margin-right: 10px;
}

#yo {
  height: 52px;
  width: auto;
  color: #FF3E48;
  font-family: Brice Regular Condensed;
  font-size: 39.2px;
  line-height: 52px;
  display: inline-block;
  margin-right: 5px;
}

#design {
  height: 54px;
  width: auto;
  color: #FF3E48;
  font-family: Brice Black;
  font-size: 39.2px;
  font-weight: 900;
  line-height: 54px;
  display: inline-block;
}

#des {
  color: #FF3E48;
  text-decoration: none;
}

#des::after {
  content: '';
  width: 0;
  height: 3px;
  background-color: #FF3E48;
  margin: auto;
  display: block;
}

#des:hover::after {
  width: 100%;
  transition: width .2s linear;
}

#research {
  height: 54px;
  width: auto;
  color: #FF3E48;
  font-family: Brice Black;
  font-size: 39.2px;
  font-weight: 900;
  line-height: 54px;
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}

#res {
  color: #FF3E48;
  text-decoration: none;
}

#research::after {
  content: '';
  width: 0;
  height: 3px;
  background-color: #FF3E48;
  margin: auto;
  display: block;
}

#research:hover::after {
  width: 100%;
  transition: width .2s linear;
}

#take {
  height: 52px;
  width: auto;
  color: #FF3E48;
  font-family: Brice Regular Condensed;
  font-size: 39.2px;
  line-height: 52px;
  display: inline-block;
  margin-right: 5px;
}

#fotos {
  height: 54px;
  width: auto;
  color: #FF3E48;
  font-family: Brice Black;
  font-size: 39.2px;
  font-weight: 900;
  line-height: 54px;
  display: inline-block;
}

#pho {
  color: #FF3E48;
  text-decoration: none;
}

#pho::after {
  content: '';
  width: 0;
  height: 3px;
  background-color: #FF3E48;
  margin: auto;
  display: block;
}

#pho:hover::after {
  width: 100%;
  transition: width .2s linear;
}

/* renglón 3
======================================*/

#renglon3 {
  margin-left: 125px;
}

#like {
  height: 52px;
  width: 260px;
  color: #FF3E48;
  font-family: Brice Regular Condensed;
  font-size: 39.2px;
  line-height: 52px;
}

#paint {
  height: 52px;
  width: 260px;
  color: #FF3E48;
  font-family: Brice Extra Light SemiCondensed;
  font-size: 39.2px;
  letter-spacing: 0;
  line-height: 52px;
}

#good {
  height: 52px;
  width: 260px;
  color: #FF3E48;
  font-family: Brice Regular Condensed;
  font-size: 39.2px;
  line-height: 52px;
}

#cafe {
  height: 52px;
  width: 260px;
  color: #FF3E48;
  font-family: Brice Extra Light SemiCondensed;
  font-size: 39.2px;
  line-height: 52px;
}

/*======================================*/

.contenedor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #FE5351;
  width: 100vw;
}

.contact {
  display: inline-block;
  font-family: Brice Black;
  color: #FFFFFF;
  font-size: 29px;
  margin-right: 40px;
  padding: 20px 0;
  padding-top: 25px;
}

#con {
  color: #FFFFFF;
  text-decoration: none;
}

.contact::after {
  content: '';
  width: 0;
  height: 3px;
  background-color: #FFFFFF;
  margin: auto;
  display: block;
  margin-left: 0px;
}

.contact:hover::after {
  width: 100%;
  transition: width .2s linear;
}

.resume {
  display: inline-block;
  font-family: Brice Black;
  color: #FFFFFF;
  font-size: 29px;
  margin-left: 40px;
  padding: 20px 0;
}

#resu {
  color: #FFFFFF;
  text-decoration: none;
}

.resume::after {
  content: '';
  width: 0;
  height: 3px;
  background-color: #FFFFFF;
  margin: auto;
  display: block;
  margin-right: 0px;
}

.resume:hover::after {
  width: 100%;
  transition: width .2s linear;
}

#parrafo-mobile {
  display: none;
}

@media only screen and (max-width: 750px) {
  #parrafo {
    display: none;
  }

  #parrafo-mobile {
    display: block;
    text-align: center;
    padding-bottom: 30px;
  }

  .App {
    height: 150vh;
  }

  .lobo {
    padding-bottom: 20px;
  }

  #vannem {
    height: 54px;
    width: 289px;
    color: #FF3E48;
    font-family: Brice Black;
    font-size: 44.8px;
    line-height: 54px;
  }

  #designerm {
    height: 52px;
    width: 260px;
    color: #FF3E48;
    font-family: Brice Bold Condensed;
    font-size: 42.4px;
    line-height: 52px;
    margin-left: 13px;
  }

  #medallo {
    height: 54px;
    width: 247px;
    color: #FF3E48;
    font-family: Brice Black;
    font-size: 44.8px;
    line-height: 54px;
    margin-left: 20px;
  }

  #medallo::after {
    color: #FF3E48;
    text-decoration: none;
  }
  
  #medallo:hover::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: #FF3E48;
    margin: auto;
    display: block;
  }

  #yom {
    height: 52px;
    width: auto;
    color: #FF3E48;
    font-family: Brice Regular Condensed;
    font-size: 39.2px;
    line-height: 52px;
    display: inline-block;
    margin-right: 5px;
  }

  #designm {
    height: 54px;
    width: auto;
    color: #FF3E48;
    font-family: Brice Black;
    font-size: 39.2px;
    font-weight: 900;
    line-height: 54px;
    display: inline-block;
  }

  #researchm {
    height: 54px;
    width: auto;
    color: #FF3E48;
    font-family: Brice Black;
    font-size: 39.2px;
    font-weight: 900;
    line-height: 54px;
    display: block;
    margin-right: 5px;
    margin-left: 10px;
  }

  #researchm::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: #FF3E48;
    margin: auto;
    display: block;
  }
  
  #researchm:hover::after {
    width: 80%;
    transition: width .2s linear;
  }

  #take{
    margin-right: 60px;
  }

  #pho {
    height: 54px;
    width: auto;
    color: #FF3E48;
    font-family: Brice Black;
    font-size: 39.2px;
    font-weight: 900;
    line-height: 54px;
    display: block;
    margin-left: 70px;
  }

  #pho::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: #FF3E48;
    margin: auto;
    display: block;
  }
  
  #pho:hover::after {
    width: 75%;
    transition: width .2s linear;
    margin-right: 0px;
  }

  #likem {
    height: 52px;
    width: 260px;
    color: #FF3E48;
    font-family: Brice Regular Condensed;
    font-size: 39.2px;
    line-height: 52px;
    display: inline-block;
    margin-right: 60px;
  }

  #paintm {
    height: 52px;
    width: 260px;
    color: #FF3E48;
    font-family: Brice Extra Light SemiCondensed;
    font-size: 39.2px;
    line-height: 52px;
    display: inline;
  }

  #readm{
    height: 52px;
    width: 260px;
    color: #FF3E48;
    font-family: Brice Extra Light SemiCondensed;
    font-size: 39.2px;
    line-height: 52px;
    margin-left: 60px;

  }

  #coffeem{
    height: 52px;
    width: 260px;
    color: #FF3E48;
    font-family: Brice Extra Light SemiCondensed;
    font-size: 39.2px;
    line-height: 52px;
    display: inline;
  }
}