body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Brice-Black";
  src: url(./fonts/brice/Brice-Black.otf) format('otf');
}

@font-face {
  font-family: "Brice-BoldCondensed";
  src: url(./fonts/brice/Brice-BoldCondensed.otf) format('otf');
}

@font-face {
  font-family: "Brice-ExtraLightSemiCondensed";
  src: url(./fonts/brice/Brice-ExtraLightSemiCondensed.otf) format('otf');
}

@font-face {
  font-family: "Brice-RegularCondensed";
  src: url(./fonts/brice/Brice-RegularCondensed.otf) format('otf');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
